<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div class="LogInContainer">
        <p>Log In</p>
        <p class="message">
            <% if (locals.msg) { %>
                <%= locals.msg  %>
            <% } %>
        </p>
        <form method="post" action="/user/login" >
            <label for="user-mail" > Email </label>
            <input type="text" id="user-mail" name="email" required><br>
            <label for="user-pass" > Password </label>
            <input type="password" id="user-pass" name="password" required><br>
            <button type="submit" > Log In </button>
        </form>
        <div class="signUp">
            <p>Don't have an account ? <button> <a href="signUp">Sign UP</a> </button> </p>
        </div>
    </div>
</body>
</html>