*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-size: 3rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(177, 176, 176, 0.705)
                ,0rem 0rem .3rem rgba(177, 176, 176, 0.705);
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: end;
    margin-bottom: 2rem;
}

article{
    display: flex;
    flex-direction: column;
}

nav ul{
    list-style: none;
    font-size: 1rem;
    display: flex;
    justify-content: end;  
}

nav ul li{
    padding: .5rem;
    width: 100%;
    text-align: left;
    border-bottom: .2rem solid transparent;
}

li{
    min-width: 3rem;
    min-height: 1.5rem;
}

nav ul li:hover {
    border-bottom: .2rem solid orange;
}  

#layouts,#tools{
    position: relative;
    cursor: pointer;
}

#nav-layout-options, #nav-tools-options{
    background-color: aliceblue;
    position: absolute;
    top: 2.45rem;
    padding: 1rem;
}

.hidden{
    display: none;
}

#nav-layout-options ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

#nav-layout-options ul li{
    text-align: center;
}

main{
    width: 100%;
}

.container{
    width: 90%;
    min-height: 15rem;
    display: grid;
    grid-template-columns: 40% auto;
    gap: 1rem;
    margin: 1rem auto;
}

.code{
    border: .1rem solid black;
    padding: 1rem;
    font-size: 1rem;
}

.output{
    border: .1rem solid black;
    padding: 1rem;
}

.exp-div{
    border: .1rem solid black;
    min-height: 30%;
    min-width: 15%;
    padding: .3rem;
    background-color: rgba(255, 170, 0, 0.479);
}


.main-heading{
    font-size: 2rem;
    font-weight: lighter;
    background-color: rgb(252, 249, 249);
    padding: .5em 1rem;
}

.sub-heading{
    font-size: 1.5rem;
    font-weight: lighter;
    padding: .5em 1rem;
    background-color: rgba(251, 255, 211, 0.808);
}

@media (max-width:500px)
{
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }
    nav{
        width: 100%;
    }
}