<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <%- include('./partials/style') %>
</head>
<body>
    <div class="main-heading">
        <div class="title"> projects </div>
        <button class="add">Add a project</button>
        <button class="update"> update current ones </button>
    </div>
    <form method="post" action="/api/projects" >

        <label for="projectName">project name</label>
        <input type="text" name="projectName" id="projectName" placeholder="Enter project Name" required>

        <label for="projectDescription">project Description</label>
        <input type="text" name="projectDescription" id="projectDescription" placeholder="About the project" required>
        
        <label for="usedTechnologies">Used technologies ( seperate by ',' if many) </label>
        <input type="text" name="usedTechnologies" id="usedTechnologies" placeholder="Enter usedTechnologies Name" required>
        
        <label for="link">project Url</label>
        <input type="text" name="link" id="link" placeholder="/project/place/here" required>

        <label for="git">git</label>
        <input type="text" name="git" id="git" placeholder="Enter, git , got ,here" required>

        <label for="video">video</label>
        <input type="text" name="video" id="video" placeholder="video link" required>

        

        <div class="button-container">
            <button type="submit"> Submit </button>
            <button type="reset"> reset </button>
        </div>
    </form>
</body>
</html>