<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <%- include('./partials/style') %>
</head>
<body>
    <div class="main-heading">
        <div class="title"> Skills </div>
        <button class="add">Add a Skill</button>
        <button class="update"> update current ones </button>
    </div>
    <form method="post" action="/api/skills" >

        <label for="SkillName">Skill name</label>
        <input type="text" name="SkillName" id="SkillName" placeholder="Enter Skill Name" required>

        <label for="SkillDescription">Skill Description</label>
        <input type="text" name="SkillDescription" id="SkillDescription" placeholder="About the Skill" required>

        <label for="learnedFrom">Learned from ( if many seperate by , )</label>
        <input type="text" name="learnedFrom" id="learnedFrom" placeholder="Microsoft" required>

        <label for="projects">Projects ( if many seperate by , )</label>
        <input type="text" name="projects" id="projects" placeholder="Calculator" required>

        <label for="certifications">Certifications ( if many seperate by , )</label>
        <input type="text" name="certifications" id="certifications" placeholder="Certifications" required>


        <div class="button-container">
            <button type="submit"> Submit </button>
            <button type="reset"> reset </button>
        </div>
    </form>
</body>
</html>