<nav>
    <div class="navigation">
        <ul>
            <li>
                <div class="companyName">
                    My Blog
                </div>
            </li>
            <li>
                <div class="addBlogButton">
                    add blogs
                </div>
            </li>
            <li>
                <select>
                    <option style="display: none;" selected> User Name </option>
                    <option> Account </option>
                    <option> Log out </option>
                </select>
            </li>
        </ul>
    </div>
</nav>