* {
    box-sizing: border-box;
}

/* Nav bar 1 css */

.nav-container-1 {
    margin: 2rem 0;
    margin-bottom: 100vh;
    padding: .6rem;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.nav-container-1 ul {
    display: flex;
    align-items: center;
}

.nav-container-1 ul > li {
    list-style: none;
    margin: 0 1rem;
}

a{
    text-decoration: none;
    padding: 0.5rem;
    max-width: fit-content;
    border: 0.1rem solid rgb(48, 48, 3);
    border-radius: 10px;
}

li a:hover {
    background-color: aliceblue;
}

.signin{
    height: fit-content;
    margin-right: 2rem;
}


.drop-list-parent{
    position: relative;
}


.drop-list-parent .drop-list {
    background-color: beige;
    display: none;
    padding: 1rem;
    margin: 0%;
    width: auto;
}

.drop-list li{
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.drop-list li:hover{
    background-color: aliceblue;
}

.drop-list-parent:hover .drop-list{
    display: flex;
    border: 2px solid;
    flex-direction: column;
    position: absolute;
    top: 1.7rem;
}
