.options button{
    border: none;
    background-color: rgb(161, 161, 22);
    padding: 0.5rem;
    position: relative;
}

#side-nav{
    background-color: yellowgreen;
    width: fit-content;
    padding: .5rem;
    position: absolute;
    display: none;
}

#side-nav  ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1rem;
}

#side-nav li{
    width: 100%;
    flex: 1;
}

.display{
    display: block;
}