*{
    box-sizing: border-box;
}

header{
    font-size: 4rem;
    border-bottom: .2rem solid;
}

article{
    display: flex;
    flex-direction: column;
}

nav{
    border: .2rem solid black;
    margin: 1rem;
    padding: 1rem;
    min-width: 10vh;
}

main{
    padding: 1rem;
}

.container{
    border: .2rem solid black;
    min-height: 15rem;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 40% auto;
    gap: 1rem;
}

.code{
    border: .1rem solid black;
    padding: 1rem;
    font-size: 1rem;
}

.output{
    border: .1rem solid black;
    padding: 1rem;
}

.exp-div{
    border: .1rem solid black;
    min-height: 30%;
    min-width: 15%;
    background-color: rgba(255, 9, 9, 0.479);
}
